@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --color-yellow: #FFB417;
}

body {
    padding-top: 5rem;
    background-color: #FCFCFC;
    font-family: 'Open Sans', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
}

.bg-dark{
    background-color: black !important;
}

#btnSearch{
    background-color: var(--color-yellow);
    color: black;
}
.navbar{
    padding: 0.1rem 1rem;
}

.navbar form{
    flex-flow: row nowrap;
}

.navbar form input{
    margin-right: 0.5rem;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 2px;
  }
  .form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-select[multiple], .form-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
  }
  .form-select:disabled {
    color: #6c757d;
    background-color: #e9ecef;
  }
  .form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #212529;
  }

  

 
.gridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  padding: 1%;
}



@media(min-width: 766px){
  .gridContainer{
    grid-template-columns: 25% 25% 25% 25% ;
  }
}

@media(min-width: 992px){
  .gridContainer{
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
  }
}
.gridContainer .cardContainer{
  margin-bottom: 2rem;
}

.card{
  border: 1px solid var(--color-yellow);
  width: 100%;
  align-items: center;
  transition: .5s;
  margin-bottom: 5%;
}

.card:hover{
  background-color: var(--color-yellow);
  color: #fff;
  width: 105%;
  margin-bottom: 0;
}

.card:hover i{
  color: #212529;
}

.card img{
  width: 80%;
  margin:5%;  
}

.cardInfo{
text-align: left;
padding: 5%;
align-self: start;
}

.cardInfo i{
  color: var(--color-yellow);
}


.modalCarousel{
  padding: 1rem;
}

.modalCarousel img{
  width: 100%;
  border-top: 0;
}

.modalApp{
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.modalApp .img{
  min-width: 30%;
}

.modalApp .img img{
  width: 80%;
}

.modalAppTitle{
  font-size: 1.6rem;
}

.modalAppDev{
  font-size: .8rem;
  color: #777;
  letter-spacing: 0;
}

.modalAppInfo p{
  margin: 0;
}

.modalAppPrice{
  font-size: 1.1rem;
}

.modalStars{
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  text-align: center;
  color: forestgreen;
}

.modalComments{
  border-top: 1px solid #dee2e6;
  padding: 1rem;
}